In [56]:
import requests
import pandas as pd
from sqlalchemy import create_engine
import pymysql

In [57]:
def extract()-> dict:
    """ This API extracts data from
    http://universities.hipolabs.com
    """
    API_URL = "http://universities.hipolabs.com/search?country=United+States"
    data = requests.get(API_URL).json()
    return data

In [58]:
def transform(data:dict) -> pd.DataFrame:
    """ Transform the dataset into desired structure and filters"""
    # Convert dictionary to DataFrame
    df = pd.DataFrame(data)
    
    # Print the total number of universities from the API
    print(f"Total number of universities from API {len(data)}")
    
    # Filter universities with name containing "California"
    df = df[df["name"].str.contains("California")]
    
    # Print the number of universities in California after filtering
    print(f"Number of universities in California {len(df)}")
    
    # Convert lists in 'domains' and 'web_pages' columns to strings
    df['domains'] = [','.join(map(str, l)) for l in df['domains']]
    df['web_pages'] = [','.join(map(str, l)) for l in df['web_pages']]
    
    # Reset the index of the DataFrame
    df = df.reset_index(drop=True)
    
    # Return the DataFrame with selected columns
    return df[["domains", "country", "web_pages", "name"]]

In [87]:
def load(df:pd.DataFrame) -> None:

    # Insert data into PostgreSQL table
    engine = create_engine('postgresql://postgres:saurabh1996@localhost:5432/Universities')
    df.to_sql(name='uni', con = engine, if_exists='replace', index=False)

In [88]:
data = extract()
df = transform(data)
load(df)

Total number of universities from API 2307
Number of universities in California 43

In [90]:
import mysql.connector

try:
    # Connect to MySQL Workbench
    connection = mysql.connector.connect(
        host="localhost",
        port="3306",
        user="root",
        password="saurabh1996",
        database="universities"
    )
    
    if connection.is_connected():
        print("Successfully connected to MySQL Workbench")

        # Perform database operations here

except mysql.connector.Error as e:
    print("Error connecting to MySQL Workbench:", e)
finally:
    # Close the connection
    if 'connection' in locals():
        connection.close()
        print("MySQL Workbench connection closed")

Successfully connected to MySQL Workbench
MySQL Workbench connection closed

In [91]:
def load_to_MySQL(df:pd.DataFrame) -> None:

    engine = create_engine('mysql+mysqlconnector://root:saurabh1996@localhost:3306/universities')

    # Insert data into MySQL Workbench table using connection passed as a parameter
    df.to_sql(name='uni', con=engine, if_exists='replace', index=False)

In [92]:
data = extract()
df = transform(data)
load_to_MySQL(df)

Total number of universities from API 2307
Number of universities in California 43